<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %highlight{[%-5.5p]} %highlight{[%d{yyyy-MM-dd HH:mm:ss}]} %highlight{[%c{1}:%L]} %highlight{>} %msg%n
                </Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFileAppender" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5.5p] [%d{yyyy-MM-dd HH:mm:ss}] [%c{1}:%L] > %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2">
                <Delete basePath="./logs" maxDepth="2">
                    <IfFileName glob="*">
                        <IfAny>
                            <IfAccumulatedFileCount exceeds="50" />
                            <IfLastModified age="P5D" />
                            <IfAccumulatedFileSize  exceeds="1GB" />
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.tmg.tempsensor" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>